.building_capital {
	background-image: url('../../static/building/city-capital.png');
}
	
.buidling_midcity {
	background-image: url('../../static/building/city-medium.png')
}
	
.buidling_urban_1 {
	background-image: url('../../static/building/city-normal-1.png')
}

.buidling_urban_2 {
	background-image: url('../../static/building/city-normal-2.png')
}

.buidling_urban_3 {
	background-image: url('../../static/building/city-normal-3.png')
}

.buidling_urban_4 {
	background-image: url('../../static/building/city-normal-4.png')
}

.buidling_urban_5 {
	background-image: url('../../static/building/city-normal-5.png')
}
.buidling_urban_6 {
	background-image: url('../../static/building/city-normal-6.png')
}

.buidling_countryside {
	background-image: url('../../static/building/countryside.png');
}